<p id="notice"><%= notice %></p>

<p>
  <h1><%= @post.title %></h1>
</p>

<p>
  <h4><strong>作者:</strong>
  <%= @post.postable.username %></h4>
</p>

<p>
  <%= sanitize @post.body %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @post.categories %>
</p>

<%= link_to '返回', posts_path %>
<br><br><br>
<%= form_for(:comment, url: comment_create_path) do |form| %>
<div class="field">
   <%= form.text_area :message, size: "60x12" %>
   <%= form.hidden_field :post_id,:value => @post.id  %>
   <%= form.hidden_field :commentable_id, :value => @post.id %>
   <%= form.hidden_field :commentable_type, :value => "Post" %>
   <%= form.hidden_field :user_id, :value => session[:user_id] %>
</div>
<div class="actions">
    <%= form.submit "发表评论" %>
  </div>
  <% end %>
<br>
<h3>评论区</h3>
<% @comments.each do |comment| %>
<b>用户<%= @user.username %>:</b><%= comment.message %><br>
<% end %>
<br><br><br><br><br><br>
