<h3><%= @notice %></h3>
<table width="100%"; style="table-layout: fixed;">
  <thead>
    <tr>
      <th>作者</th>
      <th>留言</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= User.find(comment.user_id).username %></td>
        <td><%= comment.message %></td>
        <td><%= form_for(:comment, url: check_comments_path) do |f| %>
          <div class="field">
          <%= f.hidden_field :check, :value => true %>
          <%= f.hidden_field :id, :value => comment.id %>
        </div>
        <div class="actions">
          <%= f.submit "通过"%>
        </div>
        <% end %></td>
        <td><%= form_for(:comment, url: check_comments_path) do |f| %>
          <div class="field">
          <%= f.hidden_field :check, :value => false %>
          <%= f.hidden_field :id, :value => comment.id %>
        </div>
        <div class="actions">
          <%= f.submit "不通过"%>
        </div>
        <% end %></td>
      </tr>
    <% end %>
    <%= will_paginate @comments %>
  </tbody>
</table>
