<title> 个人页面 </title>
<center>
  <br><br><br>
  <h3>your user_id:<%= @user_id %> username:<%= User.find(@user_id).username %></h3>
  <h3>your messages</h3><br>
  <table border="1" width=800px>
      <tr>
        <th>id</th>
        <th>created_at</th>
        <th>content</th>
      </tr>
      <% i = 1 %>
      <% Message.all.reverse_each do |message| %>
      <% if message.user_id.to_i == @user_id.to_i %>
      <tr>
        <td><%= i %></td>
        <td><%= message.created_at %></td>
        <td><%= message.content %></td>
        <% i += 1 %>
        <td width=50px><form action="/delete/<%= message.id %>" method="post">
          <input type="submit" value="delete"/>
        </form></td>
        <td width=30px><form action="/edit/<%= message.id %>" method="get">
          <input type="submit" value="edit"/>
        </form></td>
      </tr>
        <% end %>
        <% end %>
      </table>
  <br><h3><a href = '/'>back</a></h3>
</center>
