<div class="container"style="padding: 200px 300px 100px;">
	<div class="jumbotron">
    <center><h3><%= @notice %></h3></center>
		<center><h4>管理系统</h4></center><br>
<%= form_for(:admin, url: admin_login_path) do |form| %>

<div class="field">
    <center>
  <%= form.label :用户名 %><br>
  <%= form.text_field :admin_name %><br>
  </center>
</div>
<br>
<div class="field">
  <center>
  <%= form.label :密码 %><br>
  <%= form.password_field :password %>
</center>
</div>
<br>
<div class="actions">
  <center>
  <%= form.submit "登录" %>
</center>
</div>
<br>
<div class="field">
  <center>
  <%= link_to '注册', admin_register_path %>
</center>
</div>
<% end %>
</div>
</div>
